<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
           <!-- IOC : (Inversion of Controller) -->
       <!-- ProductServiceImpl productService1=new ProductServiceImpl() -->  
         <!-- Step-4 -->  
    

    <!-- Constructor Injection -->
    <bean id="employeeService1" class="com.spring.core.EmployeeServiceImpl">
        <constructor-arg value="101"/>
        <constructor-arg value="Satakratu"/>
    </bean>

    <!-- Setter Injection -->
    <bean id="employeeService2" class="com.spring.core.EmployeeServiceImpl">
        <property name="id" value="102"/>
        <property name="name" value="Prateek"/>
    </bean>


</beans>